<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>Iterations
Energy
Euclidean
Arclength
T=8
N=120
U(r)=4r^{-12}

r
g(r)
T=8
N=120
U(r)=4r^{-12}
Euclidean
Arclength

r
\int g(r) dr
T=8
N=120
U(r)=4r^{-12}
Euclidean
Arclength
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
